.App {
  text-align: center;
}

.logo {
height: 500px;
background-image: url('https://www.energi.world/static/energi-logo-52d829a7ec72ff666d82746188ca0d1f.png');
background-size: 205px 210px;
background-repeat: no-repeat;
background-position: center;
}

body {
  background: #abbaab;  
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
  background: linear-gradient(to right, #ffffff, #abbaab); 
  ;
}